body {
	font-family:Arial,Helvettica,sans-serif;
	background-color:#333333;
	
}

header{
	width:80%;
	background-color:black;
	color:white;
	margin-right:auto;
	margin-left:auto;
	padding:10px;
	overflow:hidden;

}

h1{ 
	font-family:Ravie;
	font-size:6em;
	margin:0;
	padding:0;
	padding-top:10px;
}

h2{
	font-family:Vivaldi;
	font-size:3em;
}

h3{
	font-size:1.3;	
}

hgroup{
	width:70%;
	float:left;
}

hgroup h1{
	padding-top:0;
	line-height:1em;
}

hgroup h2{
	
	font-size:1.2em;
	line-height:1em;
} 
}
 


nav {
	width:30%;
	float:right;
}
nav ul{
	list-style-type:none;
}

nav li{
	float:left;
	margin-right:5px;
}

p{
	margin:10px;
}

section{
	width:80%;
	background-color:white;
	margin-right:auto;
	margin-left:auto;
	border-color:blue;
	border-style:solid;
	border-width:5px;
	padding:5px;


}

img {
	
	
	box-shadow: 3px 3px 5px 1px #cccccc;
}


footer{
	width:80%;
	background-color:black;
	color:white;
	margin-right:auto;
	margin-left:auto;
	height:50px;
	padding:10px;

}